@page "/"

<PageTitle>Home</PageTitle>
<h1>Glorp 🛸</h1>

@if (curValue == null)
{
    <p>
        <em>loading...</em>
    </p>
}
else
{
    <span class="text-success fst-italic">
        @curValue
    </span>
}

@code {
    private string? curValue = "uwu";
}